<!DOCTYPE html>
<html lang="FR">
    <head>
        <%-include('../partials/head.ejs') %>
    </head>
    <body>
        <%-include('../partials/header.ejs') %>
        <div class="jumbotron jumbotron-fluid">
            <h2 class="text-center">About</h2>
            <p class="text-center">Email : <a href="mailto:sdcormiers@hotmail.com">Samuel Des Cormiers</a></p>
        </div>
        <%-include('../partials/footer.ejs') %>
    </body>
</html>