<!DOCTYPE html>
<html lang="FR">
    <head>
        <%-include('../partials/head.ejs') %>
    </head>
    <body>
        <h2>About</h2>
        <%-include('../partials/header.ejs') %>
            <p>Email : <a href="mailto:sdcormiers@hotmail.com">Samuel Des Cormiers</a></p>
        <%-include('../partials/footer.ejs') %>
    </body>
</html>