<!DOCTYPE html>
<html lang="FR">
    <head>
        <%-include('../partials/head.ejs') %>
    </head>
    <body>
        <h2>Home</h2>
        <%-include('../partials/header.ejs') %>
        <br>
        <img src="/images/451078746_1057719925685565_3902903204352845128_n.jpg" class="mx-auto d-block rounded-circle" width="10%" alt="Image">
        <br>
        <%-include('../partials/footer.ejs') %>
    </body>
</html>