<!DOCTYPE html>
<html lang="FR">

<head>
    <%-include('../partials/head.ejs') %>
</head>

<body>
    <%-include('../partials/header.ejs') %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="text-center">Home</h1>
            <p class="text-center">Welcome to templating using EJS</p>
            <br>
            <img src="/images/451078746_1057719925685565_3902903204352845128_n.jpg"
                class="mx-auto d-block rounded-circle" width="10%" alt="Image">
        </div>
    </div>
    <br>
    <%-include('../partials/footer.ejs') %>
</body>

</html>