<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="utf-8">
        <title>Acceuil</title>
    </head>
    <body>
        <h1>Acceuil</h1>
        <p>Bienvenue sur le site de l'atelier 6</p>
        <p>Vous pouvez accéder à la liste des utilisateurs en cliquant <a href="/users">ici</a></p>
    </body>
</html>