<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <title> TITRE </title>
</head>

<body>
    <form method='post'>
        <input type='submit' value='<%=val%>'/>
    </form>
</body>

</html>