<!--
 * @date 2024-09-09
 * @author Samuel Des Cormiers
 * @description Code pour le laboratoire 3
 * @version 3.0
-->
<!-- views/partials/footer.ejs -->
</div>
</div>
<p class="text-center text-muted">© Copyright 2024 SDC</p>