<!DOCTYPE html>
<html lang="FR">

<head>
    <%-include('../partials/head.ejs') %>
</head>

<body>
    <%-include('../partials/header.ejs') %>
    <h2 class="text-center">Contrôle</h2>
    <%-include('../partials/moduleTable.ejs', {modules: modules}) %>
    <%-include('../partials/footer.ejs') %>
</body>
</html>