<!DOCTYPE html>
<html lang="FR">

<head>
    <%-include('../partials/head.ejs') %>
</head>

<body>
    <%-include('../partials/header.ejs') %>
    <h1 class="text-center">Erreur 404</h1>
    <%if(module > 6 || module < 1){%>
       <p class="text-center">Mauvais module : <%= module %></p>
    <%}else{%>
        <p class="text-center">La page demandée n'existe pas</p>
    <%}%>
    <%-include('../partials/footer.ejs') %>
</body>

</html>