<!DOCTYPE html>
<html lang="FR">

<head>
    <%-include('../partials/head.ejs') %>
</head>

<body>
    <%-include('../partials/header.ejs') %>

    <h2 class="text-center">Module</h2>

    <p class="text-center">Voici le module <%= module %></p>
    <%-include('../partials/footer.ejs') %>
</body>

</html>